<div class="col-md-2 col-lg-3 col-sm-1"></div>
<form class="col-md-8 col-lg-6 col-sm-10 col-xs-12 shadow-box"  ng-class="animationClass" style="margin-top: 160px;">
	<h1>Are you also looking to {{option}}?</h1>
    <div class="col-md-3 col-sm-3 col-xs-2"></div>
    <div class="col-md-6 col-sm-6 col-xs-8">
    	<span ng-click="onSelect(item)" class="button-style" ng-repeat="item in booleanOptions">{{item.text}}</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-2"></div>
</form>
<div class="col-md-2 col-lg-3 col-sm-1"></div>
